<section class="grid sm:grid-cols-1 lg:grid-cols-2 min-h-screen">
  <div class="hidden py-[40px] exam-bg lg:block px-12 backdrop-blur-[200px] md:flex flex-col">
    <div class="w-[458px] mx-auto">
      <div class="flex items-center gap-[.625rem]">
        <img src="/assets/folder-code.png" class="w-10 h-10 p-[.375rem]" alt="" />
        <span
          class="capitalize font-geist font-semibold text-[20px] align-middle leading-[100%] tracking-[0px]"
          >Exam App</span
        >
      </div>
      <div
        class="py-[60px] font-inter font-bold text-[30px] leading-[100%] tracking-[0px] align-middle text-[#1F2937]"
      >
        <h1>Empower your learning journey with our smart exam platform.</h1>
        <div class="pt-9">
          <div class="flex justify-start gap-x-5 mb-9">
            <div class="w-9 h-9 border-[1.5px] border-[#155DFC] flex items-center justify-center">
              <img class="w-6 h-6 object-contain" src="/assets/brain.png" alt="Tailored Diplomas" />
            </div>
            <div>
              <h2
                class="font-semibold font-geist mb-5 text-[20px] leading-[100%] tracking-[0px] align-middle text-[#155DFC]"
              >
                Tailored Diplomas
              </h2>
              <p
                class="font-normal font-geist text-[16px] leading-[100%] tracking-[0px] align-middle text-[#374151]"
              >
                Choose from specialized tracks like Frontend, Backend, and Mobile Development.
              </p>
            </div>
          </div>
          <div class="flex justify-start gap-x-5 mb-9">
            <div class="w-9 h-9 border-[1.5px] border-[#155DFC] flex items-center justify-center">
              <img
                class="w-6 h-6 object-contain"
                src="/assets/book-open-check.png"
                alt="Focused Exams"
              />
            </div>
            <div class="gap-[10px]">
              <h2
                class="font-semibold font-geist mb-5 text-[20px] leading-[100%] tracking-[0px] align-middle text-[#155DFC]"
              >
                Focused Exams
              </h2>
              <p
                class="font-normal font-geist text-[16px] leading-[100%] tracking-[0px] align-middle text-[#374151]"
              >
                Access topic-specific tests including HTML, CSS, JavaScript, and more.
              </p>
            </div>
          </div>
          <div class="flex justify-start gap-x-5">
            <div class="w-9 h-9 border-[1.5px] border-[#155DFC] flex items-center justify-center">
              <img
                src="/assets/rectangle-ellipsis.png"
                alt="Smart Multi-Step Forms"
                class="w-6 h-6 object-contain"
              />
            </div>

            <div>
              <h2
                class="font-semibold font-geist mb-5 text-[20px] leading-[100%] tracking-[0px] align-middle text-[#155DFC]"
              >
                Smart Multi-Step Forms
              </h2>
              <p
                class="font-normal font-geist text-[16px] leading-[100%] tracking-[0px] align-middle text-[#374151]"
              >
                Choose from specialized tracks like Frontend, Backend, and Mobile Development.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
