<main class="auth-main-properties">
  <section class="w-full">
    <div class="pb-9 self-start">
      <app-header>Create a New Password</app-header>
      <p
        class="mt-[10px] font-geist font-normal text-[#6B7280] text-[16px] leading-[100%] tracking-[0px] align-middle text-gray-300]"
      >
        Create a new strong password for your account.
      </p>
    </div>
    <form [formGroup]="resetPassForm" (ngSubmit)="submitResetPassForm()">
      <div class="input-container mt-6">
        @let emailControl = resetPassForm.get('email');
        <label for="email" class="form-label">Email</label>
        <input
          [class.border-red-600]="emailControl?.invalid && emailControl?.touched"
          [class.border-gray-200]="!(emailControl?.invalid && emailControl?.touched)"
          formControlName="email"
          type="email"
          id="email"
          placeholder="user@example.com"
          class="form-input"
        />
        @if (emailControl?.errors && emailControl?.touched) { @if
        (emailControl?.getError('required')) {
        <app-input-error-message>Email is required</app-input-error-message>
        } @if (emailControl?.getError('email')) {
        <app-input-error-message>Please enter a valid email address</app-input-error-message>
        } }
      </div>
      <div class="flex flex-col">
        @let newPasswordControl = resetPassForm.get('newPassword');
        <label for="newPassword" class="form-label">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          id="newPassword"
          placeholder="********"
          class="form-input"
        />
        @if (newPasswordControl?.errors && newPasswordControl?.touched) {
        @if(newPasswordControl?.getError('required')) {
        <app-input-error-message>New Password is required</app-input-error-message>
        }@else if (newPasswordControl?.getError('pattern')) {
        <app-input-error-message>
          Password must contain at least 8 characters, including uppercase, lowercase, number, and
          special character
        </app-input-error-message>
        } }
      </div>
      @if (msgError) {
      <app-error-response-msg>{{ msgError }}</app-error-response-msg>
      }
      <div class="pt-9 auth-footer-container">
        <div class="w-full">
          <app-main-button
            >Reset Password @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner text-white"></i></span>
            }</app-main-button
          >
        </div>
        <p class="form-end-ques">
          Don’t have an account?<a routerLink="/register" class="text-[#155DFC]"> Create yours</a>
        </p>
      </div>
    </form>
  </section>
</main>
