<div class="bg-[#EFF6FF] p-4 flex justify-between items-center mb-4">
  <div class="flex flex-col gap-[4px]">
    <h3
      class="text-main font-geist font-semibold text-[20px] leading-[100%] tracking-[0] align-middle"
    >
      {{ title() }}
    </h3>

    <p
      class="text-[#6B7280] font-geist font-normal text-sm leading-[100%] tracking-[0] align-middle"
    >
      {{ questions() }} Questions
    </p>
  </div>

  <div class="flex gap-[6px] justify-center items-center">
    <p
      class="text-gray-800 font-geist font-medium text-sm leading-[100%] tracking-[0] align-middle"
    >
      Duration: <span class="font-normal">{{ duration() }}</span>
    </p>
  </div>
</div>
