<aside
  id="top-bar-sidebar"
  class="fixed h-screen top-0 z-40 w-[45px] sm:w-[255px] md:w-[270px] lg:w-[362px] transition-transform"
  aria-label="Sidebar"
>
  <div class="sidebar-container p-1 sm:p-3 lg:p-8 bg-[#EFF6FF] border-e border-default">
    <div class="flex flex-col gap-[10px] mb-[60px] sm:w-32 md:w-40 lg:w-48 h-[77px]">
      <img class="w-full hidden sm:block" src="/assets/Final Logo 1.png" alt="Elevate Logo" />
      <div class="flex items-center gap-[.625rem]">
        <img src="/assets/folder-code.png" class="w-8 h-8 lg:w-10 lg:h-10 p-[.375rem]" alt="" />
        <span
          class="capitalize hidden sm:block font-geist font-semibold text-sm lg:text-[20px] align-middle leading-[100%] tracking-[0px] text-[#155DFC]"
          >Exam App</span
        >
      </div>
    </div>
    <div class="flex flex-col flex-1 justify-between">
      <div>
        <ul
          class="space-y-2 font-geist text-xs lg:text-base font-normal align-middle tracking-normal leading-none"
        >
          <li>
            <a
              routerLink="/home"
              routerLinkActive="border border-[#2B7FFF] !text-main bg-[#DBEAFE]"
              class="sidebar-link"
            >
              <img src="/assets/graduation-cap.png" alt="Diplomas" />
              <span class="flex-1 whitespace-nowrap hidden sm:block">Diplomas</span>
            </a>
          </li>
          <li>
            <a
              routerLink="account"
              routerLinkActive="border border-[#2B7FFF] !text-main bg-[#DBEAFE]"
              class="sidebar-link"
            >
              <img src="/assets/user-round.png" alt="Account Settings" />
              <span class="flex-1 whitespace-nowrap hidden sm:block">Account Settings</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="flex justify-between items-center">
        <div class="w-7 h-7 hidden sm:block sm:w-8 sm:h-8 lg:w-[54px] lg:h-[54px]">
          <img class="w-full" src="/assets/Avatar.png" alt="User Image" />
        </div>
        <div
          class="flex flex-col hidden sm:block ms-2 md:ms-0 md:gap-2 lg:gap-[10px] justify-center items-start"
        >
          <h3 class="username text-xs md:text-base">{{ userInfo.firstName }}</h3>
          <p class="text-[#6B7280] text-base-style text-[8px] sm:text-xs md:text-sm">
            {{ userInfo.email }}
          </p>
        </div>
        <div class="relative">
          <button
            id="dropdownDotsButton"
            data-dropdown-toggle="dropdownDots"
            class="p-1 lg:p-2 rounded hover:bg-gray-200"
            type="button"
          >
            <svg
              class="w-4 h-4 lg:w-5 lg:h-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 6a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4zm0 4a2 2 0 110-4 2 2 0 010 4z"
              />
            </svg>
          </button>

          <div
            id="dropdownDots"
            class="z-60 hidden w-44 bg-white rounded-lg shadow divide-y divide-gray-100"
          >
            <ul class="py-2">
              <li>
                <a
                  routerLink="account"
                  class="dropdown-item text-[#1F2937] border-b border-b-[#F3F4F6]"
                >
                  <img class="w-[18px] h-[18px]" src="/assets/user-round.png" alt="User Account" />
                  <span class="flex-1 whitespace-nowrap hidden sm:block">Account</span>
                </a>
              </li>
              <li>
                <button class="dropdown-item text-[#DC2626]" (click)="logOut()">
                  <img class="w-[18px] h-[18px]" src="/assets/log-out.png" alt="User Account" />
                  <a class="flex-1 whitespace-nowrap hidden sm:block">Logout</a>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
