<main
  class="flex flex-col justify-center items-start max-w-[90%] md:max-w-[452px] mx-auto min-h-screen"
>
  <div class="mb-10 cursor-pointer" routerLink="/forgetPassword">
    <img src="/assets/Back Container.png" alt="Back Container" />
  </div>

  <div class="pb-6">
    <app-header>Verify OTP</app-header>

    <div
      class="mt-[10px] mb-6 font-geist text-base font-normal text-[16px] leading-[100%] tracking-[0px]"
    >
      <p class="pb-[10px] text-[#6B7280]">Please enter the 6-digits code we have sent to:</p>
      <p class="text-[#1F2937]">
        {{ email }}
        <a routerLink="/forgetPassword" class="font-medium underline text-[#155DFC]"> Edit </a>
      </p>
    </div>
  </div>

  <div class="flex flex-col w-full justify-center items-center">
    <form [formGroup]="otpForm" (ngSubmit)="submitOtpForm()" class="w-full">
      <!-- OTP INPUT -->
      <div class="flex justify-center mb-4">
        <p-inputOtp
          formControlName="otp"
          [length]="6"
          containerClass="gap-4"
          inputClass="w-10 h-10 text-[#1F2937] bg-transparent text-center text-lg rounded-md
                     border border-[#E5E7EB]/60
                     focus:outline-none focus:border-[#3B82F6] focus:text-[#3B82F6]"
        ></p-inputOtp>
      </div>

      <p class="text-[#6B7280] text-center mt-9 font-geist font-medium text-[14px] leading-[100%]">
        Didn’t receive the code? @if (!disableResend) {
        <a class="text-[#155DFC] cursor-pointer ml-1" (click)="resendOtp()"> Resend </a>
        } @if (disableResend) {
        <span class="text-gray-400 ml-1"> (Resend in {{ countdown }}s) </span>
        }
      </p>

      @if (resendSuccess) {
      <p class="text-green-600 text-center text-sm mt-2">OTP has been resent to your email.</p>
      } @if (msgError) {
      <app-error-response-msg>
        {{ msgError }}
      </app-error-response-msg>
      }

      <app-auth-footer buttonLabel="Verify Code" [isLoading]="isLoading">
        Don’t have an account?
        <a routerLink="/register" class="text-[#155DFC]"> Create yours </a>
      </app-auth-footer>
    </form>
  </div>
</main>
