<app-dashboard-pages-container>
  <div class="flex gap-[10px] w-full max-w-full">
    <app-back routerLink="/home" class="cursor-pointer"></app-back>
    <app-dashboard-header
      class="flex-1 w-full max-w-full"
      icon="/assets/user-round-white.png"
      title="Account Settings"
    ></app-dashboard-header>
  </div>

  <div
    class="grid w-full max-w-full grid-cols-[minmax(0,120px)_1fr] sm:grid-cols-[120px_1fr] md:grid-cols-[150px_1fr] lg:grid-cols-[282px_1fr] mt-2 md:mt-4 gap-3 md:gap-4 lg:gap-6 overflow-x-hidden"
  >
    <div class="bg-white h-full w-full max-w-full overflow-x-hidden">
      <app-account-sidebar
        class="h-full block w-full max-w-full"
        (changeStep)="changeStep($event)"
        [currentStep]="currentStep"
      ></app-account-sidebar>
    </div>

    <div class="bg-white p-6 w-full max-w-full overflow-x-hidden">
      @if (currentStep === 'profile') {
      <app-profile></app-profile>
      } @if (currentStep === 'changePass') {
      <app-change-password></app-change-password>
      }
    </div>
  </div>
</app-dashboard-pages-container>
