/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-menu-overlay {
  z-index: 9999;
}

.p-menu {
  padding: 0 !important;
}

.p-menu .p-menu-list {
  padding: 0 !important;
}

.form-label {
    @apply text-[16px] pb-1 font-geist font-medium leading-[100%] tracking-[0px] text-gray-700;
  }


.form-input{
    @apply border rounded-md p-[10px] text-[10px] md:text-[14px] font-geist font-normal leading-[100%] tracking-[0px] text-gray-700 placeholder-gray-400 align-middle focus:outline-none focus:ring-2 focus:ring-blue-300;
}

.input-container{
  @apply flex flex-col mb-[10px];
}

.form-end-ques{
  @apply font-geist pt-9 font-medium text-[14px] leading-[100%] tracking-[0px] align-middle text-gray-800;
}

.auth-main-properties{
  @apply flex flex-col justify-center items-center max-w-[90%]  md:max-w-[452px] mx-auto min-h-screen;
}

.auth-footer-container{
  @apply w-full flex flex-col justify-center items-center;
}


.account-input{
    @apply border border-[#E5E7EB]  p-[10px] text-[10px] md:text-[14px] font-geist font-normal leading-[100%] tracking-[0px] text-gray-700 placeholder-gray-400 align-middle focus:border-blue-300 focus:outline-none ;
}
.account-label {
    @apply text-[8px] sm:text-[12px] md:text-[14px] lg:text-[16px] pb-1 font-geist font-medium leading-[100%] tracking-[0px] text-gray-700;
  }

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
  padding: 0 !important;
}

.p-dialog {
  border-radius: 0.5rem;
}